## *1. CLEANING WORLD HAPPINESS REPORT DATA* ##

In [3]:
import pandas as pd
import numpy as np
import sqlite3

# Loading data and adding year column
whr_2015 = pd.read_csv('../Raw/dataset2_world_happiness_report/2015.csv')
whr_2015['Year'] = 2015

whr_2016 = pd.read_csv('../Raw/dataset2_world_happiness_report/2016.csv')
whr_2016['Year'] = 2016

whr_2017 = pd.read_csv('../Raw/dataset2_world_happiness_report/2017.csv')
whr_2017['Year'] = 2017

whr_2018 = pd.read_csv('../Raw/dataset2_world_happiness_report/2018.csv')
whr_2018['Year'] = 2018

whr_2019 = pd.read_csv('../Raw/dataset2_world_happiness_report/2019.csv')  # Fixed file name
whr_2019['Year'] = 2019

In [4]:
d1 = pd.read_csv('../Raw/dataset1_avg_annual_hours_worked.csv')

In [5]:
#renaming columns to common names

whr_2015.rename(columns={
    "Year":"year",
    "Country":"country",
    "Region":"region",
    "Happiness Score": "happiness",
    "Economy (GDP per Capita)": "gdp_per_capita",
    "Family": "social_support",
    "Health (Life Expectancy)": "life_expectancy",
    "Freedom": "freedom",
    "Generosity": "generosity",
    "Trust (Government Corruption)": "govt_corruption"
}, inplace=True)

whr_2016.rename(columns={
    "Year":"year",
    "Country":"country",
    "Region":"region",
    "Happiness Score": "happiness",
    "Economy (GDP per Capita)": "gdp_per_capita",
    "Family": "social_support",
    "Health (Life Expectancy)": "life_expectancy",
    "Freedom": "freedom",
    "Generosity": "generosity",
    "Trust (Government Corruption)": "govt_corruption"
}, inplace=True)

whr_2017.rename(columns={
    "Year":"year",
    "Country":"country",
    "Happiness.Score": "happiness",
    "Economy..GDP.per.Capita.": "gdp_per_capita",
    "Family": "social_support",
    "Health..Life.Expectancy.": "life_expectancy",
    "Freedom": "freedom",
    "Generosity": "generosity",
    "Trust..Government.Corruption.": "govt_corruption"
}, inplace=True)

whr_2018.rename(columns={
    "Year":"year",
    "Country or region":"country",
    "Score": "happiness",
    "GDP per capita": "gdp_per_capita",
    "Social support": "social_support",
    "Healthy life expectancy": "life_expectancy",
    "Freedom to make life choices": "freedom",
    "Generosity": "generosity",
    "Perceptions of corruption": "govt_corruption"
}, inplace=True)

whr_2019.rename(columns={
    "Year":"year",
    "Country or region":"country",
    "Score": "happiness",
    "GDP per capita": "gdp_per_capita",
    "Social support": "social_support",
    "Healthy life expectancy": "life_expectancy",
    "Freedom to make life choices": "freedom",
    "Generosity": "generosity",
    "Perceptions of corruption": "govt_corruption"
}, inplace=True)

In [6]:
#merging the different dataframes

whr_long = pd.concat([whr_2015, whr_2016, whr_2017, whr_2018, whr_2019], ignore_index=True)

columns_to_keep = ["country", "region", "happiness", "gdp_per_capita", "social_support", "life_expectancy", "freedom", "govt_corruption", "generosity", "year"]

whr_combined = whr_long[columns_to_keep]

In [7]:
#reordering year col

year_col = whr_combined.pop("year")  # Remove 'Year' column
whr_combined.insert(0, "year", year_col)

In [8]:
#Fill missing 'Region' values with region values based on country column in other years
whr_combined["region"] = whr_combined.groupby("country")["region"].ffill().bfill()

/var/folders/s4/7wsslyw16w9bqtllmwg3nfbm0000gp/T/ipykernel_63659/3940986863.py:2: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  whr_combined["region"] = whr_combined.groupby("country")["region"].ffill().bfill()

In [9]:
#checking for null values
print(whr_combined.isnull().sum())

year               0
country            0
region             0
happiness          0
gdp_per_capita     0
social_support     0
life_expectancy    0
freedom            0
govt_corruption    1
generosity         0
dtype: int64

In [10]:
#compute the minimum non-null value of 'govt_corruption'
min_value = whr_combined["govt_corruption"].min()

#fill missing values with the computed minimum
whr_combined["govt_corruption"].fillna(min_value, inplace=True)

/var/folders/s4/7wsslyw16w9bqtllmwg3nfbm0000gp/T/ipykernel_63659/10749439.py:5: FutureWarning: A value is trying to be set on a copy of a DataFrame or Series through chained assignment using an inplace method.
The behavior will change in pandas 3.0. This inplace method will never work because the intermediate object on which we are setting values always behaves as a copy.

For example, when doing 'df[col].method(value, inplace=True)', try using 'df.method({col: value}, inplace=True)' or df[col] = df[col].method(value) instead, to perform the operation inplace on the original object.


  whr_combined["govt_corruption"].fillna(min_value, inplace=True)
/var/folders/s4/7wsslyw16w9bqtllmwg3nfbm0000gp/T/ipykernel_63659/10749439.py:5: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  whr_combined["govt_corruption"].fillna(min_value, inplace=True)

In [11]:
whr_combined

,year,country,region,happiness,gdp_per_capita,social_support,life_expectancy,freedom,govt_corruption,generosity
0,2015,Switzerland,Western Europe,7.587,1.39651,1.34951,0.94143,0.66557,0.41978,0.29678
1,2015,Iceland,Western Europe,7.561,1.30232,1.40223,0.94784,0.62877,0.14145,0.43630
2,2015,Denmark,Western Europe,7.527,1.32548,1.36058,0.87464,0.64938,0.48357,0.34139
3,2015,Norway,Western Europe,7.522,1.45900,1.33095,0.88521,0.66973,0.36503,0.34699
4,2015,Canada,North America,7.427,1.32629,1.32261,0.90563,0.63297,0.32957,0.45811
...,...,...,...,...,...,...,...,...,...,...
777,2019,Rwanda,Sub-Saharan Africa,3.334,0.35900,0.71100,0.61400,0.55500,0.41100,0.21700
778,2019,Tanzania,Sub-Saharan Africa,3.231,0.47600,0.88500,0.49900,0.41700,0.14700,0.27600
779,2019,Afghanistan,Southern Asia,3.203,0.35000,0.51700,0.36100,0.00000,0.02500,0.15800
780,2019,Central African Republic,Sub-Saharan Africa,3.083,0.02600,0.00000,0.10500,0.22500,0.03500,0.23500
781,2019,South Sudan,Sub-Saharan Africa,2.853,0.30600,0.57500,0.29500,0.01000,0.09100,0.20200

## *2. CLEANING AVG HOURS WORKED PER PERSON PER YEAR* ##

In [13]:
#changing columns to lowercase
d1.columns = d1.columns.str.lower()

#removing wide spaces
d1.columns = d1.columns.str.replace(' ','_')

#removing unwanted columns
d1.drop(['structure', 'structure_name', 'action', 'ref_area','measure',	
         'measure',	'unit_measure',	'unit_of_measure',
        'obs_status', 'observation_status',	'unit_mult', 'unit_multiplier',	'decimals',	'decimals',
        'sex', 'sex', 'age', 'age',	'labour_force_status',	'labour_force_status',	'work_period',	'work_period', 'aggregation_operation',	
         'aggregation_operation',	'hour_bands', 'hour_bands', 'job_coverage','job_coverage',
        'hours_type', 'hours_type',	'worker_status', 'worker_status', 'work_time_arngmnt',	'working_time_arrangement',
        'structure_id','observation_value'], axis=1, inplace=True)

#removing the second value time_period column, since its  duplicated
d1 = d1.iloc[:, ~d1.columns.duplicated()]

# Reset the index to turn it into a column
d1 = d1.reset_index()

# Rename the index column properly
d1 = d1.rename(columns={'index': 'id', 'reference_area': 'country', 'obs_value': 'average_hours', 'time_period': 'year'})

In [14]:
d1

      id        country  year  average_hours
0      0         Latvia  2011         1707.0
1      1      Australia  2020         1613.0
2      2      Australia  2021         1622.0
3      3  United States  2020         1789.0
4      4  United States  2021         1813.0
..   ...            ...   ...            ...
536  536  United States  2012         1826.0
537  537  United States  2013         1824.0
538  538  United States  2014         1829.0
539  539  United States  2015         1830.0
540  540  United States  2016         1822.0

[541 rows x 4 columns]

## *3. CREATE SQL DATABASE* ##

In [16]:
import pandas as pd

sql_dump_file = "world_data_mysql.sql"

# Create a MySQL-compatible SQL file
with open(sql_dump_file, "w", encoding="utf-8") as f:
    f.write("DROP DATABASE IF EXISTS world_data;\n")
    f.write("CREATE DATABASE world_data;\n")
    f.write("USE world_data;\n\n")

    # Create tables
    f.write("""
    CREATE TABLE hours_worked (
        id INT AUTO_INCREMENT PRIMARY KEY,
        country VARCHAR(255) NOT NULL,
        year INT NOT NULL,
        average_hours INT NOT NULL
    );

    CREATE TABLE whr_combined (
        id INT AUTO_INCREMENT PRIMARY KEY,
        country VARCHAR(255) NOT NULL,
        region VARCHAR(255) NOT NULL,
        year INT NOT NULL,
        happiness FLOAT NOT NULL,
        gdp_per_capita FLOAT NOT NULL,
        social_support FLOAT NOT NULL,
        life_expectancy FLOAT NOT NULL,
        freedom FLOAT NOT NULL,
        generosity FLOAT NOT NULL,
        govt_corruption FLOAT NOT NULL
    );

    CREATE TABLE country_year (
        id INT AUTO_INCREMENT PRIMARY KEY,
        hours_id INT,
        whr_id INT,
        year INT NOT NULL,
        country VARCHAR(255) NOT NULL,
        FOREIGN KEY (hours_id) REFERENCES hours_worked(id) ON DELETE CASCADE,
        FOREIGN KEY (whr_id) REFERENCES whr_combined(id) ON DELETE CASCADE
    );
    """)

    # Insert data into hours_worked
    for _, row in d1.iterrows():
        f.write(f"INSERT INTO hours_worked (country, year, average_hours) VALUES ('{row['country']}', {row['year']}, {row['average_hours']});\n")

    # Insert data into whr_combined
    for _, row in whr_combined.iterrows():
        f.write(f"INSERT INTO whr_combined (country, region, year, happiness, gdp_per_capita, social_support, life_expectancy, freedom, generosity, govt_corruption) "
                f"VALUES ('{row['country']}', '{row['region']}', {row['year']}, {row['happiness']}, {row['gdp_per_capita']}, {row['social_support']}, "
                f"{row['life_expectancy']}, {row['freedom']}, {row['generosity']}, {row['govt_corruption']});\n")

    # Insert data into country_year
    f.write("\n-- Insert country_year relations\n")
    for _, row in whr_combined.iterrows():
        f.write(f"INSERT INTO country_year (year, country) VALUES ({row['year']}, '{row['country']}');\n")

In [17]:
d1.to_csv('avg_hours.csv')
whr_combined.to_csv('whr_combined.csv')