## *1. CLEANING WORLD HAPPINESS REPORT DATA* ##

In [2]:
import pandas as pd
import numpy as np
import sqlite3

# Loading data and adding year column
whr_2015 = pd.read_csv('../Raw/dataset2_world_happiness_report/2015.csv')
whr_2015['Year'] = 2015

whr_2016 = pd.read_csv('../Raw/dataset2_world_happiness_report/2016.csv')
whr_2016['Year'] = 2016

whr_2017 = pd.read_csv('../Raw/dataset2_world_happiness_report/2017.csv')
whr_2017['Year'] = 2017

whr_2018 = pd.read_csv('../Raw/dataset2_world_happiness_report/2018.csv')
whr_2018['Year'] = 2018

whr_2019 = pd.read_csv('../Raw/dataset2_world_happiness_report/2019.csv')  # Fixed file name
whr_2019['Year'] = 2019

In [3]:
d1 = pd.read_csv('../Raw/dataset1_avg_annual_hours_worked.csv')

In [4]:
#renaming columns to common names

whr_2015.rename(columns={
    "Year":"year",
    "Country":"country",
    "Region":"region",
    "Happiness Score": "happiness",
    "Economy (GDP per Capita)": "gdp_per_capita",
    "Family": "social_support",
    "Health (Life Expectancy)": "life_expectancy",
    "Freedom": "freedom",
    "Generosity": "generosity",
    "Trust (Government Corruption)": "govt_corruption"
}, inplace=True)

whr_2016.rename(columns={
    "Year":"year",
    "Country":"country",
    "Region":"region",
    "Happiness Score": "happiness",
    "Economy (GDP per Capita)": "gdp_per_capita",
    "Family": "social_support",
    "Health (Life Expectancy)": "life_expectancy",
    "Freedom": "freedom",
    "Generosity": "generosity",
    "Trust (Government Corruption)": "govt_corruption"
}, inplace=True)

whr_2017.rename(columns={
    "Year":"year",
    "Country":"country",
    "Happiness.Score": "happiness",
    "Economy..GDP.per.Capita.": "gdp_per_capita",
    "Family": "social_support",
    "Health..Life.Expectancy.": "life_expectancy",
    "Freedom": "freedom",
    "Generosity": "generosity",
    "Trust..Government.Corruption.": "govt_corruption"
}, inplace=True)

whr_2018.rename(columns={
    "Year":"year",
    "Country or region":"country",
    "Score": "happiness",
    "GDP per capita": "gdp_per_capita",
    "Social support": "social_support",
    "Healthy life expectancy": "life_expectancy",
    "Freedom to make life choices": "freedom",
    "Generosity": "generosity",
    "Perceptions of corruption": "govt_corruption"
}, inplace=True)

whr_2019.rename(columns={
    "Year":"year",
    "Country or region":"country",
    "Score": "happiness",
    "GDP per capita": "gdp_per_capita",
    "Social support": "social_support",
    "Healthy life expectancy": "life_expectancy",
    "Freedom to make life choices": "freedom",
    "Generosity": "generosity",
    "Perceptions of corruption": "govt_corruption"
}, inplace=True)

In [5]:
#merging the different dataframes

whr_long = pd.concat([whr_2015, whr_2016, whr_2017, whr_2018, whr_2019], ignore_index=True)

columns_to_keep = ["country", "region", "happiness", "gdp_per_capita", "social_support", "life_expectancy", "freedom", "govt_corruption", "generosity", "year"]

whr_combined = whr_long[columns_to_keep]

In [6]:
#reordering year col

year_col = whr_combined.pop("year")  # Remove 'Year' column
whr_combined.insert(0, "year", year_col)

In [7]:
#Fill missing 'Region' values with region values based on country column in other years
whr_combined["region"] = whr_combined.groupby("country")["region"].ffill().bfill()

/var/folders/s4/7wsslyw16w9bqtllmwg3nfbm0000gp/T/ipykernel_71600/3940986863.py:2: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  whr_combined["region"] = whr_combined.groupby("country")["region"].ffill().bfill()

In [8]:
#checking for null values
print(whr_combined.isnull().sum())

year               0
country            0
region             0
happiness          0
gdp_per_capita     0
social_support     0
life_expectancy    0
freedom            0
govt_corruption    1
generosity         0
dtype: int64

In [9]:
#compute the minimum non-null value of 'govt_corruption'
min_value = whr_combined["govt_corruption"].min()

#fill missing values with the computed minimum
whr_combined["govt_corruption"].fillna(min_value, inplace=True)

/var/folders/s4/7wsslyw16w9bqtllmwg3nfbm0000gp/T/ipykernel_71600/10749439.py:5: FutureWarning: A value is trying to be set on a copy of a DataFrame or Series through chained assignment using an inplace method.
The behavior will change in pandas 3.0. This inplace method will never work because the intermediate object on which we are setting values always behaves as a copy.

For example, when doing 'df[col].method(value, inplace=True)', try using 'df.method({col: value}, inplace=True)' or df[col] = df[col].method(value) instead, to perform the operation inplace on the original object.


  whr_combined["govt_corruption"].fillna(min_value, inplace=True)
/var/folders/s4/7wsslyw16w9bqtllmwg3nfbm0000gp/T/ipykernel_71600/10749439.py:5: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  whr_combined["govt_corruption"].fillna(min_value, inplace=True)

In [10]:
whr_combined

,year,country,region,happiness,gdp_per_capita,social_support,life_expectancy,freedom,govt_corruption,generosity
0,2015,Switzerland,Western Europe,7.587,1.39651,1.34951,0.94143,0.66557,0.41978,0.29678
1,2015,Iceland,Western Europe,7.561,1.30232,1.40223,0.94784,0.62877,0.14145,0.43630
2,2015,Denmark,Western Europe,7.527,1.32548,1.36058,0.87464,0.64938,0.48357,0.34139
3,2015,Norway,Western Europe,7.522,1.45900,1.33095,0.88521,0.66973,0.36503,0.34699
4,2015,Canada,North America,7.427,1.32629,1.32261,0.90563,0.63297,0.32957,0.45811
...,...,...,...,...,...,...,...,...,...,...
777,2019,Rwanda,Sub-Saharan Africa,3.334,0.35900,0.71100,0.61400,0.55500,0.41100,0.21700
778,2019,Tanzania,Sub-Saharan Africa,3.231,0.47600,0.88500,0.49900,0.41700,0.14700,0.27600
779,2019,Afghanistan,Southern Asia,3.203,0.35000,0.51700,0.36100,0.00000,0.02500,0.15800
780,2019,Central African Republic,Sub-Saharan Africa,3.083,0.02600,0.00000,0.10500,0.22500,0.03500,0.23500
781,2019,South Sudan,Sub-Saharan Africa,2.853,0.30600,0.57500,0.29500,0.01000,0.09100,0.20200

## *2. CLEANING AVG HOURS WORKED PER PERSON PER YEAR* ##

In [12]:
#changing columns to lowercase
d1.columns = d1.columns.str.lower()

#removing wide spaces
d1.columns = d1.columns.str.replace(' ','_')

#removing unwanted columns
d1.drop(['structure', 'structure_name', 'action', 'ref_area','measure',	
         'measure',	'unit_measure',	'unit_of_measure',
        'obs_status', 'observation_status',	'unit_mult', 'unit_multiplier',	'decimals',	'decimals',
        'sex', 'sex', 'age', 'age',	'labour_force_status',	'labour_force_status',	'work_period',	'work_period', 'aggregation_operation',	
         'aggregation_operation',	'hour_bands', 'hour_bands', 'job_coverage','job_coverage',
        'hours_type', 'hours_type',	'worker_status', 'worker_status', 'work_time_arngmnt',	'working_time_arrangement',
        'structure_id','observation_value'], axis=1, inplace=True)

#removing the second value time_period column, since its  duplicated
d1 = d1.iloc[:, ~d1.columns.duplicated()]

# Reset the index, turn it into a column
d1 = d1.reset_index()
whr_combined = whr_combined.reset_index()

whr_combined = whr_combined.reset_index()
# Rename the index column properly
d1 = d1.rename(columns={'index': 'hours_id', 'reference_area': 'country', 'obs_value': 'average_hours', 'time_period': 'year'})
whr_combined = whr_combined.rename(columns ={'index': 'whr_id'})

In [13]:
display(d1)
display(whr_combined)

     hours_id        country  year  average_hours
0           0         Latvia  2011         1707.0
1           1      Australia  2020         1613.0
2           2      Australia  2021         1622.0
3           3  United States  2020         1789.0
4           4  United States  2021         1813.0
..        ...            ...   ...            ...
536       536  United States  2012         1826.0
537       537  United States  2013         1824.0
538       538  United States  2014         1829.0
539       539  United States  2015         1830.0
540       540  United States  2016         1822.0

[541 rows x 4 columns]

,level_0,whr_id,year,country,region,happiness,gdp_per_capita,social_support,life_expectancy,freedom,govt_corruption,generosity
0,0,0,2015,Switzerland,Western Europe,7.587,1.39651,1.34951,0.94143,0.66557,0.41978,0.29678
1,1,1,2015,Iceland,Western Europe,7.561,1.30232,1.40223,0.94784,0.62877,0.14145,0.43630
2,2,2,2015,Denmark,Western Europe,7.527,1.32548,1.36058,0.87464,0.64938,0.48357,0.34139
3,3,3,2015,Norway,Western Europe,7.522,1.45900,1.33095,0.88521,0.66973,0.36503,0.34699
4,4,4,2015,Canada,North America,7.427,1.32629,1.32261,0.90563,0.63297,0.32957,0.45811
...,...,...,...,...,...,...,...,...,...,...,...,...
777,777,777,2019,Rwanda,Sub-Saharan Africa,3.334,0.35900,0.71100,0.61400,0.55500,0.41100,0.21700
778,778,778,2019,Tanzania,Sub-Saharan Africa,3.231,0.47600,0.88500,0.49900,0.41700,0.14700,0.27600
779,779,779,2019,Afghanistan,Southern Asia,3.203,0.35000,0.51700,0.36100,0.00000,0.02500,0.15800
780,780,780,2019,Central African Republic,Sub-Saharan Africa,3.083,0.02600,0.00000,0.10500,0.22500,0.03500,0.23500
781,781,781,2019,South Sudan,Sub-Saharan Africa,2.853,0.30600,0.57500,0.29500,0.01000,0.09100,0.20200

## *3. CREATE JUNCTION TABLE* ##

In [15]:
# set index=false when exporting dataframe .replace("\n", " ")
# df[col] = df[col].apply(lambda s: s.replace("\n"," ") )
# df.to_csv(filename, index=False, sep=";", encoding="utf-8")

In [16]:
print("Central African\nRepublic".replace("\n"," "))

Central African Republic

In [17]:
countries = whr_combined[['country']].drop_duplicates().reset_index(drop=True)

countries['country_id'] = countries.index

In [ ]:
#remove
# Congo (Brazzaville) - whr_combined
# Congo (Kinshasa) - whr_combined



# Remove Hong Kong - d1

# Remove OECD - d1

# Remove Palestinian Territories - whr_combined

# remove - Somalia - Somalia - Somaliland region - Somaliland Region - whr_combined

# remove Taiwan = Taiwan Province of China - whr_combined

# remove Trinidad & Tobago - Trinidad and Tobago - whr_combined



# rename Slovak Republic to Slovakia in - avg hours

In [18]:
whr_combined['country'].replace("Czech Republic", "Czechia", inplace=True)

/var/folders/s4/7wsslyw16w9bqtllmwg3nfbm0000gp/T/ipykernel_71600/398836833.py:1: FutureWarning: A value is trying to be set on a copy of a DataFrame or Series through chained assignment using an inplace method.
The behavior will change in pandas 3.0. This inplace method will never work because the intermediate object on which we are setting values always behaves as a copy.

For example, when doing 'df[col].method(value, inplace=True)', try using 'df.method({col: value}, inplace=True)' or df[col] = df[col].method(value) instead, to perform the operation inplace on the original object.


  whr_combined['country'].replace("Czech Republic", "Czechia", inplace=True)

Empty DataFrame
Columns: [level_0, whr_id, year, country, region, happiness, gdp_per_capita, social_support, life_expectancy, freedom, govt_corruption, generosity]
Index: []

In [34]:
whr_combined[whr_combined['country'] == 'Czechia']

,level_0,whr_id,year,country,region,happiness,gdp_per_capita,social_support,life_expectancy,freedom,govt_corruption,generosity
30,30,30,2015,Czechia,Central and Eastern Europe,6.505,1.178980,1.206430,0.844830,0.463640,0.026520,0.106860
184,184,184,2016,Czechia,Central and Eastern Europe,6.596,1.309150,1.007930,0.763760,0.414180,0.039860,0.099290
337,337,337,2017,Czechia,Central and Eastern Europe,6.609,1.352682,1.433885,0.754444,0.490946,0.036873,0.088107
490,490,490,2018,Czechia,Central and Eastern Europe,6.711,1.233000,1.489000,0.854000,0.543000,0.034000,0.064000
645,645,645,2019,Czechia,Central and Eastern Europe,6.852,1.269000,1.487000,0.920000,0.457000,0.036000,0.046000

In [38]:
d1['country'].replace("Türkiye", "Turkey", inplace=True)

/var/folders/s4/7wsslyw16w9bqtllmwg3nfbm0000gp/T/ipykernel_71600/3947187953.py:1: FutureWarning: A value is trying to be set on a copy of a DataFrame or Series through chained assignment using an inplace method.
The behavior will change in pandas 3.0. This inplace method will never work because the intermediate object on which we are setting values always behaves as a copy.

For example, when doing 'df[col].method(value, inplace=True)', try using 'df.method({col: value}, inplace=True)' or df[col] = df[col].method(value) instead, to perform the operation inplace on the original object.


  d1['country'].replace("Türkiye", "Turkey", inplace=True)

In [42]:
d1[d1['country'] == 'Turkey']

     hours_id country  year  average_hours
161       161  Turkey  2012         1855.0
162       162  Turkey  2013         1832.0
163       163  Turkey  2014         1830.0
164       164  Turkey  2015         1811.0
340       340  Turkey  2017         1775.0
341       341  Turkey  2018         1745.0
342       342  Turkey  2019         1732.0
343       343  Turkey  2020         1572.0
344       344  Turkey  2021         1732.0
345       345  Turkey  2010         1877.0
346       346  Turkey  2011         1864.0
465       465  Turkey  2016         1789.0

In [ ]:
regions = whr_combined[['region']].drop_duplicates().reset_index(drop=True)

regions['region_id'] = regions.index

In [ ]:
regions